#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Sockets Helper DLL for SCTP"
#define VER_INTERNALNAME_STR        "wshsctp.dll"
#define VER_ORIGINALFILENAME_STR    "wshsctp.dll"

#include "common.ver"

