<?xml version='1.0'?>
<!--
/*
 * Copyright (c) 2008 CO-CONV, Corp. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 */
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<Module Id='Vista32Module' Guid='E1BAA08B-7592-4196-8978-34ECE980F6F2' Language='1033' Version='1.0.0.0'>
		<Package Id='72237F3A-DE38-43e6-9FCA-3AC7F7399694' Description='SCTP Driver Module for Vista 32bit'
			Comments='This is for Vista 32bit'
			Manufacturer='CO-CONV, Corp.' InstallerVersion='200' Compressed='yes' />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id='SystemFolder' Name='System'>
				<Directory Id="ModuleDirectory" Name=".">
					<Component Id="Provider" Guid="3D050057-C787-45e2-986E-D40CE67493A3">
						<File Id="SctpSp_Dll" Name="sctpsp.dll"
							Vital="yes" KeyPath="yes"
							Source="bin\vista32\sctpsp.dll" />
						<File Id="SctpMon_Dll" Name="sctpmon.dll"
							Vital="yes" KeyPath="no"
							Source="bin\vista32\sctpmon.dll" />
					</Component>
					<Directory Id="DriverDirectory" Name="drivers">
						<Component Id="Driver" Guid="3E892B21-3CF6-4798-B199-FE7C93FE7BEE">
							<File Id="Sctp_Sys" Name="sctp.sys"
								Vital="yes" KeyPath="yes"
								Source="bin\vista32\sctp.sys" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='SctpDriver' Name='sctpDrv'>
					<Directory Id='Bin' Name='bin'>
						<Component Id="bins" Guid="9E68EAC4-6F19-4018-84F5-F458265AB92D">
							<File Id="Sp_Install_Exe" Name="spinst.exe" LongName="spinstall.exe"
								Vital="yes" KeyPath="yes"
								Source="bin\vista32\spinstall.exe" />
							<File Id="Echo_Client_Exe" Name="echo_c.exe" LongName="echo_client.exe"
								Vital="yes" KeyPath="no"
								Source="bin\vista32\echo_client.exe" />
							<File Id="Echo_Server_Exe" Name="echo_s.exe" LongName="echo_server.exe"
								Vital="yes" KeyPath="no"
								Source="bin\vista32\echo_server.exe" />
							<File Id="Iperf_Exe" Name="iperf.exe"
								Vital="yes" KeyPath="no"
								Source="bin\vista32\iperf.exe" />
						</Component>
					</Directory>
					<Directory Id='Lib' Name='lib'>
						<Component Id="Libs" Guid="4703CACA-3C3E-4573-AB58-E64FA269A2FC">
							<File Id="SctpSp_Lib" Name="sctpsp.lib"
								Vital="yes" KeyPath="yes"
								Source="..\sp\dll\objfre_wlh_x86\i386\sctpsp.lib" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
